<h1>PowerUps#index</h1>
<p>Find me in app/views/power_ups/index.html.erb</p>


<div class="container">
  <div class="d-flex flex-wrap gap-3">
    <% @powerUps.each do |powerUp| %>
      <%= link_to power_up_path(powerUp) do%>
      <div class="card" style="width: 200px;">
        <%= image_tag "https://res.cloudinary.com/do2s320cj/image/upload/v1747753619/images_wtydoj.jpg", alt: "image", class: "card-img-top" %>
        <div class="card-body">
          <p class="card-title"><%= powerUp.product_name %></p>
          <p class="card-text">£ <%= powerUp.price %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
