<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

<%= @orders.each do |order| %>
  <div class="order">
    <h2>Order ID: <%= order.id %></h2>
    <p>accepted:
      <% if order.accepted? %>
        <% true %>
      <%else%>
        <% false %>
      <% end %>
    </p>
    <p>Total Price: $<%= order.total_price %></p>
    <p>Created At: <%= order.created_at.strftime("%B %d, %Y") %></p>
  </div>
<% end %>
