.form-control {
  border-radius: 90px;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.border-radius {
  border-radius: 1rem;
}

.border-radius-circle {
  border-radius: 90px;
  color: #222222;
}
